@media only screen and (min-width: 901px) and (max-width: 1050px) {

    .home, .about, .skillsection, .projectSection .outerDiv,.navBar, .contactContainer, .copyrightSection, .logo, .aboutHome, .aboutMe, .bioData, .socialMedia, .btn, .progress, .ProjectDetails, .contactItem, .inputControl, .contactBtn, .copyright h3 {
      width: 100%; 
      padding: 10px;
      box-sizing: border-box; 
      width: 100%; 
      max-width: 100%;
      box-sizing: border-box;
    }
  
    body, html {
      margin: 0;
      padding: 0;
      width: 100%; 
      overflow-x: hidden; 
    }
  
  /* Adjust header */
    .head {
      display : flex;
      flex-direction: column;
      align-items : flex-end;
      padding-top: 10px;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      min-height: 50px;
    }
  
    .logo {
      justify-content: center;
      font-size: 25px;
      margin: 7px 3px 9px 0px;
    }
    
    .navBar {  
      display:flex;
      justify-content: space-around;
      gap: 5px;
      padding-bottom:15px;
      width: 100%;
    }
  
    .navBar a{
      font-size:27px;
      padding:0px 2px 0px 2px;
    }
  
    .navBar a:hover{
        font-size:28px;
        opacity: 80%;
      }
      
      /*---Home Button---*/
      .home {
        min-height: 100vh;
        padding-top: 5.5rem;
        padding-top: 6rem;
        row-gap: 1rem;
    }
        
    .aboutHome {
        text-align: left; /* Align text to the left */
        width: 50%;
    }
        
    .image {
        display: flex;
        justify-content: center;
    }
    
    .Pic:hover{
        opacity : 90%;
    }
        
    .readBtn {
        font-size: 25px;
    }
        
    .readBtn:hover {
        font-size: 25.5px;
    }
      
      /*-----about section-----*/
      .about{
        display: flex;
        align-items: center;
        justify-content: center;
    }
          
    .image2{
        display: flex;
        justify-content: center;
        align-items: center;
      }
          
      .aboutMe{
          display: flexbox;
          text-align: left; /* Align text to the left */
          justify-content: center;
          align-items: center;
          width: 60%;
          line-height: 1.2;
          margin-top: 5rem;
      }
          
      .aboutMe h1{
          font-size: 40px;
          padding:10px;
      }
          
      .bioData{
          font-size: 22px;
      }
          
      .socialMedia{
          padding:1rem 0rem 1rem .7rem;
      }
          
      .socialMedia a{
          font-size: 33px;
      }
          
      .socialMedia a:hover{
          font-size: 32px;
      }
          
      .btn{
          font-size: 32px;
      }
          
      .btn:hover{
          font-size: 33px;
      }
        
    /*------skill section ------*/
    .skillsection{
        height: auto;
        padding-bottom: 5rem;
    }

    .skills{
        padding-top: 3rem;
    }
    .mainDiv {
        margin-top: 5rem;
    }
        
    .heading{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
        
    .skill{
        margin-bottom: 1rem;
    }
        
    .htmlLogo,.cssLogo,.jsLogo,.reactLogo{
        font-size: 2.5rem;
    }

    .tailwindLogo{
        height: 3.5rem;
        width:3rem;
    }

    .progress .Tailwindbar{
      margin-left: -.3rem;
    }
        
    .progress{
        width:25rem;
        margin-left: 5rem;
    }
        
    .skill-name{
        font-size:24px;
        margin : 10px 0;
    }
        
    /*-----Certificate section-----*/
    .certificateSection{
      height : auto;
      padding-top:2rem;
    }
    .certificates{
        padding-top:8rem;
    }
  
    .heading2 h1{
        font-size: 3rem;
    }
        
    .certificateDiv{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding:0rem 2rem;
        font-size: 25px;
    }
        
    .aboutCft{
        font-size: 22px;
        height:auto;
        width:auto;
    }
        
    .main-certificate2{
        padding: 2.5rem 2rem;
    }
    
    .aboutCft a{ 
        font-size: 20px;
    }
        
    .aboutCft a:hover{
        font-size: 20.5px;
    }
        
    /*----Project Section----*/
    .projectSection{
        height:100vh;
        padding-top: 15rem;
    }
        
    .outerDiv{
        width: 100%;
    }
        
    .projectDiv{
      display: flex;
      gap: 20px;
      margin-bottom: 1rem;
      padding-top: 5rem;
    }
        
    .heading2 h1{
        font-size: 4rem;
    }
    .ProjectDetails{
      text-align: left;
      padding: 0rem 1rem;
      width : 50%;
      font-size: 1.5rem;
    }
        
    .ProjectDetails a{
        font-size: 25px;
    }
        
    .ProjectDetails a:hover{
        font-size: 26px;
    }
        
    .ProjectDetails a i{
        font-size: 25px;
    }
        
    .ProjectDetails a i:hover{
        font-size: 26px;
    }
        
    .ProjectDetails span{
        font-size: 2rem;
    }

    .newswebsite{
        height:15rem;
        width : 100%;
        padding-left :2rem; 
    }
        
    /*-----Contact Section----*/
    .contactSection{
        height:auto;
        padding-top: 2rem;
    }
        
    .contactDiv{
        width: 100%;
        padding-top:8rem;
    }
        
    .contactContainer{
        display:flex;
        gap:1rem;
    }

    .contactDetails{
      padding-left: 2rem;
    }
        
    .contactItem{
        margin: .4rem;
        font-size: 1.2rem;
    }
      
    .contactTitle{
        margin-bottom: 0.2rem;
    }
        
    .contactDetails {
        text-align: left;
    }
        
    .contactForm {
        padding : 1rem;
        width:500px;
    }
        
    .contactBtn:hover{
        font-size: 1.4rem;
    }

    input::placeholder, textarea::placeholder{
        font-size: 20px;
    }
        
    /*----copyright section----*/
    .copyrightSection{
        font-size:20px;
    }
} 